@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&family=Rubik:wght@400&family=Source+Code+Pro:wght@400;600&display=swap');

body, button, input, textarea {
    font-family: 'Marianne', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

b, strong {
    font-weight: 600;
}
